body {
	font-family: 'Rubik', sans-serif;
	position: relative;
	min-height: 100vh;
	padding-bottom: 300px;
}


footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 250px;
}


/*Media Queries*/
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}